@import "_Variables";
@import "../App.scss";
footer {
	background-color: $color-page;
	color: #fff;
	height: 3rem;
	@include flex-center;
}
/*styles for dark mode */
footer.dark {
	background-color: var(--background-color);
}
