@import "_Variables";
@import "../App.scss";
form {
	@include flex-space-between;
}
.flex-form {
	@include flex-center;
	label {
		text-transform: uppercase;
		font-weight: bold;
	}
}
.button-form {
	border: none;
	border-radius: 0.313rem;
	padding: 10px 20px;
	color: #fff;
	background-color: #000;
}
.box-results {
	@include flex-justify;
	@include flex-wrap;
}
//mobile
@media screen and (max-width: 768px) {
	form {
		@include flex-center;
		flex-direction: column;
		padding: 1rem;
		width: 100%;
	}
	.flex-form {
		flex-direction: column;
		label {
			border: 1px solid #eaeded;
			margin: 10px 0;
			padding: 10px;
		}
	}
	.box-form {
		@include flex-center;
		width: 100%;
		input {
			width: 100%;
			max-width: 500px;
			font-size: 18px;
		}
	}
	.button-form {
		width: 100%;
		font-size: 1rem;
		padding: 15px;
		margin-top: 5px;
	}
}
