@import "_Variables";
@import "../App.scss";
nav {
	background-color: $color-page;
	h1 {
		color: #fff;
		font-size: 2.188rem;
		@include flex-justify;
		padding: 1.25rem;
	}
}
.box-image {
	display: block;
}
.image-museum {
	width: 100%;
}
//mobile
@media screen and (max-width: 768px) {
	h1 {
		text-align: center;
	}
}
