@import "_Variables";
@import "../App.scss";
.pagination-box {
	font-size: 1.2rem;
	font-weight: bold;
	letter-spacing: 0.05rem;
	padding: 0.5rem;
}
.container-btn-pagination {
	@include flex-justify;
	background-color: #000;
	color: #fff;
	button {
		margin: 1rem;
		background-color: $color-btn-pagination;
		padding: 0.625rem;
		border: none;
		border-radius: 0.313rem;
		cursor: pointer;
		&:hover {
			background-color: $color-btn-pagination-hover;
			transform: scale(1.05);
		}
		&:active {
			background-color: $color-btn-pagination-active;
			transform: scale(1);
		}
		.arrow-pagination {
			color: #fff;
			font-size: 1.5rem;
		}
	}
}
